@use 'variables' as v;
@use 'placeholders' as p;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 2.5rem;
    padding: 1rem 0;
    background: v.$grey-400;
    color: v.$grey-900;
    @extend %text-preset-2-medium;
    font-size: clamp(0.65rem, 2vw, 0.8rem);

    a {
        color: black;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
            color: v.$grey-200;
        }
    }
}
